.css-nzinn5-MuiContainer-root {
   
    margin-left: 99px !important;
   
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {

    width: 120px !important;
    background-color :#ad2069 !important;
    color: white !important;

}
.css-2ulfj5-MuiTypography-root {

    margin-right: 94px;
}
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
 
    margin-left: 133px !important;

}
