/* LandingPage.css */
body {
  
  margin: 0px !important;
  font-family: 'Calibri', sans-serif !important;
  
}
.my-font{
  
  font-family:"Calibri", sans-serif !important;
  font-size:'16px';
}
 .candidate-table{
  background-color: #eae7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0% !important;
  border-collapse: collapse;
 
 
 }

 .filter-card{
  background-color: rgb(255, 255, 255) !important;
  box-shadow: none !important;
  width: 100%;
 

 }
 .table-style{
  background-color: rgb(255, 255, 255);
  width: 120% !important;
  padding-bottom: 2px !important;

 }
 .container{
  background-color: rgb(255, 255, 255);

  width: 120% !important;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
 }
 .grid-candidateTable{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-color: #ad2069; */

 }
 .grid-container{
  background-color: #eae7e7;
 }
 .card-contentDialog{
  background-color: #ffffff;
  
   color: rgba(0, 0, 0, 0.87);
   -webkit-transition: none !important;
   transition: none !important;
   border-radius: 0px !important;
   box-shadow: none !important;
  width: 50% !important;
 }
 .dialog-style{

    width: 40%;
    
    position: "fixed";
    right: 1;
    top: 0;
    height: 100%;
   

 }
 
  /* styles.css or your custom CSS file */
.data-grid-container .rounded-row {
    /* Adjust the value as needed for the desired roundedness */
    height: '100%';
    width: '100%';
    overflow: 'hidden';
    border-radius: 15px; /* Adjust the radius to control the amount of rounding */
    background-color: #f8f6f6; /* Optional: Set a background color for the rounded rows */
    margin: 5px;
    border-bottom: 1px !important;
    
}
.candidate-details {
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 1px;
  width: 35%;
  height: '100%';
  background-color: #f5f5f5;
  box-shadow: -20px 16px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* text-align: center; */
  padding: 48px;
  z-index: 9999;
  display: fixed;
}
.h2-candidate-details{
    color: rgb(129, 37, 64);
    text-align: center;
}
.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
  }

.inner-card{
    padding: 20px;
    width: '80%';
   
    
}

.download-button{
    
    
    
   
 
    color: rgb(174, 43, 91);
}


.data-grid-container{
    margin-top: 5%;
    height: 800px;
    
}

.div-bar{
    background-color: black;
    
}
.img{
  height: 80px;;
}
.custom-select .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgba(162, 33, 113, 0.67);
 
}

.custom-select .MuiInputLabel-outlined.Mui-focused {
  color:rgba(162, 33, 113, 0.67);

}

.Box-userprofile{
  background-color: rgb(34, 33, 33) !important;
  width: 'auto';
  height: 432px;
}
.h3-user{
  
  color: #ad2069;
  font-size: 50px;
  padding-top: 98px;
  padding-left: 50px;
  margin: auto;
  
}
.h4-user{
  color: white;
  font-size: 40px;
 
  padding-left: 50px;
}
.img-user{
 
  margin-right:auto;
  float: right;    
 margin: 0 0 0 15px;

 height: 432px;
}


.sorting-options{
  background-color: #b99baa;
}
.profile-div{
  background-color:rgba(224, 224, 224, 1);
  height: 100%;
  width: 100%;
  display: block;
 
  margin: 0%;

}
.button-position{
  background-color: #ad2069 !important;
  margin: 1% !important;
}
.profile-card{
  background-color: #fbfbfb;
    width: 90%;
    margin-top: 10%;
    height: 120px;
}
.candidates-list{
  background-color: #ffffff;
    height: auto;
    /* width: 90%; */
    margin-top: 10px;
    border-radius: 13px;
  
}
.tr-candidate{
  background-color: #ffffff;
  border-radius: 2%;
}

.FilterCard{
    background-color: #fefefe;
}

.filter-order{
  background-color: rgb(255, 255, 255);
    width: 90% !important;
    height: 30 px !important;
    margin-top: 10%;
    background-color: #ffffff;
    padding-bottom: 2%;
}

.Box-profile{
  background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width:90%;
    margin-left: 5%;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}
.candidate-card-profile{
 
  margin-left: 10%!important;
  box-shadow: none !important;
}



.orderby{
  /* background-color: #ffffff; */
  padding-left: 0.9%;
}

.toolbar{
  display: flex;
  
}
.tr-candidate:hover {
  box-shadow: 10px 10px 10px rgb(201, 128, 139);
  cursor: pointer;
}
.tr-candidate {
  transition: box-shadow 0.3s; /* Add transition for a smooth effect */
  border-radius: 10px; /* Add rounded border radius */
}

.myfilter{
  background-color: #ad2069;
  display: contents;
   margin-top: 10%; 
  width: 100%!important; 
   
}

.paper-style{
  background-color: #ad2069;
}

.table-container{
  display: flex;
  /* height: 0% !important; 
  background-color: #ad2069; */
}
/* .css-3qrssf{ /*table style*/
  /* width: none !important; */
/*add candidate form*/
.addcandidate-form{
  background-color: #eae7e7;
}