.css-5lbw0b-MuiTypography-root {
    margin-right: 94px;
}
.css-ag7rrr-MuiTypography-root {
    margin-right: 94px;
}
@media (min-width: 0px){

    .css-hltdia {
    max-width: 0px !important;
    }
}