
body {
  
    margin: 0px !important;
    padding: 0px !important;
    
  }

.css-hip9hq-MuiPaper-root-MuiAppBar-root {

    background-color: #b55c5c !important;
    color: #fff;
   
    
}
.css-1uzrjc8-MuiSvgIcon-root {

    display: none !important;
  
}
.css-1x7skt0{
    background-color: black;
}
.css-r6ewbb-MuiToolbar-root {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: baseline;
    min-height: 56px;
    justify-content: flex-end !important;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}