.container-user {
    width: '100%';
    height: '80%';
    background-color: rgb(255, 255, 255);
}

.css-a5rdam-MuiGrid-root {

    width: calc(100% + 30%) !important;

}

@media (min-width: 1200px) {
    .css-1oqqzyl-MuiContainer-root {
        max-width: 100% !important;


    }
}

@media (max-width: 599px) {
    .css-1dhp3u3-MuiGrid-root {
        width: 80%;
        background-color: #1e1c1c;
        height: 250px;
    }

    .css-edejhi-MuiTypography-root {
        text-align: center;
        font-size: 16px;
        /* Adjust the font size for mobile */
        font-weight: 700;
    }
}

@media (min-width: 600px) {
    .css-1dhp3u3-MuiGrid-root {
        width: 100%;
        /* Adjust the width for larger screens */
    }



    .css-edejhi-MuiTypography-root {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}

@media (max-width: 390px) {
    .css-1dhp3u3-MuiGrid-root {
        width: 80%;
        background-color: #1e1c1c;
        height: 250px;
    }

    .css-edejhi-MuiTypography-root {
        text-align: center;
        font-size: 14px;
        /* Adjust the font size for the iPhone 8 */
        font-weight: 700;
    }
}

@media (min-width: 391px) and (max-width: 844px) {
    .css-1dhp3u3-MuiGrid-root {
        width: 100%;
        /* Adjust the width for iPhone 8 */
    }

    .css-r5q0xi-MuiTypography-root {
        margin-bottom: 10px;
        font-size: 30px !important;
        /* Adjust the font size for iPhone 8 */
        font-weight: 200;
    }

    .css-edejhi-MuiTypography-root {
        text-align: center;
        font-size: 18px;
        /* Adjust the font size for iPhone 8 */
        font-weight: 700;
    }
    .img-user {
        margin-right: auto;
        float: right;
        
        margin-right: 10px !important;
        height: 300px !important;
    }
    .css-1dhp3u3-MuiGrid-root {
       
        height: 300px !important;
    }
    .css-hyum1k-MuiToolbar-root {
        
        padding-left: 0px !important;
       padding-right: 1px !important;
    }
    .css-1fdypfd-MuiGrid-root>.MuiGrid-item {
        padding-top: 60px !important;
        padding-left: 60px !important;
    }
    
}

.css-hyum1k-MuiToolbar-root{
    padding-left: 1px !important;
    padding-right: 0px !important;
}
/* Adjust font sizes for smaller screens */
@media (max-width: 390px) {
    .css-r5q0xi-MuiTypography-root  {
        font-size: 30px !important; /* Adjust the font size for smaller screens like iPhone */
    }
}

@media (max-width: 600px) {
    .MuiDialog-paper {
      width: 90%; /* Adjust the dialog width for smaller screens */
    }
  
    .custom-text-field {
      width: 100%; /* Adjust the input field width for smaller screens */
    }
  
    .MuiDialogContent-root {
      padding: 16px; /* Adjust dialog content padding for smaller screens */
    }
    
    .MuiDialogTitle-root {
      padding: 16px; /* Adjust dialog title padding for smaller screens */
    }
  
    .MuiButton-root {
      width: 100%; /* Adjust button width for smaller screens */
    }
  }
 
  
  
  



.css-1t1j96h-MuiPaper-root-MuiDialog-paper {

    color: #ad2069;

}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {

    width: 50% !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {

    margin: 1% !important;
}

.css-1vw6mcs-MuiTypography-root {

    TEXT-ALIGN: center;
}

.css-1t6e9jv-MuiCardActions-root {
    /*apply button */
    width: 136px !important;

    margin-left: 30%;
}

.UserCard {

    text-align: center;
    margin-top: 59px;

    display: unset;


}

.user-card {

    margin-top: 2%;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87) !important;
}

.css-2ulfj5-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    font-size: 0.9rem !important;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.css-1oqqzyl-MuiContainer-root {


    background-color: #3e0847;

}

.css-2r3irp-MuiCardContent-root {
    color: #fff;
    background-color: #3e0847;

}

.css-ryb467-MuiCardActions-root {
    /* 
    background-color: #3d2473; */
    background-color: #3e0847;
}

.css-w52lyv-MuiTypography-root {

    color: #ecec18 !important;
    margin-bottom: 80px;

}


.css-11jr3eb-MuiPaper-root-MuiCard-root {
    /* background-color: #fff; */
    /* color: rgba(0, 0, 0, 0.87); */
    /* -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 27p;
    box-shadow: -11px 11px 16px 8px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;

    overflow: hidden;
    height: 100%;
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}



.css-1fdypfd-MuiGrid-root {
    padding-bottom: 73px;
}

/**contents center */

.css-nzinn5-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: contents !important;

    padding-right: 16px;

}

.css-1hp6gz7-MuiPaper-root-MuiDialog-paper {

    max-width: 900px !important;



}

.css-1fdypfd-MuiGrid-root>.MuiGrid-item {
    padding-top: 60px !important;
    padding-left: 30px !important;
}
.css-11i0skp {
    margin-top: 91px;
    margin-right: 190px;
    margin-left: 0px;
     box-shadow: none;

}