.container-user {
    /* display: flex; */
    width: '100%' !important;
    height: '100%' !important;
    background-color: rgb(255, 255, 255);
    padding-bottom: 84px !important;
}

.jobs-cards {
    background-color:rgb(243 243 243);
    padding-left: 5% !important;
    /* box-shadow: -15px 12px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important; */
}

.position-text{
    /* font-family: "NeueHelvetica" !important; */
    font-family:"Calibri", sans-serif !important;
    font-size: 1.0rem !important;
      

    font-weight: 400 !important;
}
@media (min-width: 1200px) {
    .container-user {

        max-width: 100% !important;
        height: 100% !important;

    }
}

.job-font-style {
    color: white;
    font-size: 15px !important;
}

@media (max-width: 600px) {

    /* Adjust styles for screens less than or equal to 600px (e.g., smartphones) */
    /* You can modify padding, font sizes, etc. to fit smaller screens */
    body {
        font-size: 14px;
        width: fit-content;
    }
}

@media (max-width: 767px) {
    /* Adjust styles for screens less than or equal to 767px (e.g., mobile devices) */
    .custom-select {
      width: 100%; /* Adjust the width for smaller screens */
    }
    
    .divider-horizontal {
      display: none; /* Hide the horizontal divider on smaller screens */
    }
  }
 
  
  

.bootstrapdialog-job {
    background-color: aquamarine;
    width: 100%;

}

.dialog-app-style {
    min-width: 1200px !important;
    width: 100% !important;
    overflow-y: none !important;
}

@media (min-width: 391px) and (max-width: 844px) {


    .img-user {
        margin-right: auto;
        float: right;

        margin-right: 10px !important;
        height: 300px !important;
    }
}

.UserCard {

    text-align: center;
    margin-top: 59px;

    display: unset;


}
/* 
.user-card {
    
    /* margin-top: 2%; */


.container-application {
    display: flex;
    background-color: aqua;
}

/**contents center */

.custom-select .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: rgba(162, 33, 113, 0.67);
}

.custom-select .MuiInputLabel-outlined.Mui-focused {
    color: rgba(162, 33, 113, 0.67);
}